---
layout: default
rel: .
---

<section class="main-content">
    <article class="module color-3">
        <h2>Capstone Team</h2>
        {% for person in site.data.team %}
            <div class='team-member'>
                <div class='team-member__pic'>
                {% if person.pic %}
                    <img src='{{ page.rel }}/assets/team/{{person.pic}}' />
                {% else %}
                    <i class='fa fa-user'></i>
                {% endif %}
                </div>
                <div class='team-member__container'>
                    <div class='team-member__name'>{{person.name}}</div>
                    <div class='team-member__role'>{{person.role}}</div>
                    <div class='team-member__bio'>{{person.bio}}</div>
                </div>
            </div>
        {% endfor %}
    </article>

    <article class="module color-3">
        <h2>Project Sponser/Mentor</h2>
        <div class='team-member'>
            <div class='team-member__pic'>
                <img src='{{ page.rel }}/assets/team/fofanov.png' style="width:200%;height:200%;"/>
            </div>
            <div class='team-member__container'>
                <div class='team-member__name'>Viacheslav Fofanov, Ph.D.</div>
                <div class='team-member__bio'><a href="http://fofanovlab.us/" target='_blank'>http://fofanovlab.us/</a></div>
            </div>
        </div>
    </article>

</section>
